{% for guest in kvm_guests %}
{% if guest.key not in kvm_vms.list_vms %}

virt-install --name={{ guest.key }} \
--disk size={{ guest.disk_size | default(kvm_disk_size) }},path={{ guest.path | default(kvm_path)}},bus=virtio,cache=none \
--network "bridge={{ guest.bridge | default(kvm_bridge) }},model=virtio" \
--vcpus={{ guest.cpu | default(kvm_cpu) }} \
--ram={{ guest.ram | default(kvm_ram) }} \
--os-type={{ guest.os_type | default(kvm_os_type) }} \
--os-variant={{ guest.variant | default(kvm_variant) }} \
--console pty \
--autostart \
--graphics none \
--noautoconsole \
--import

{% endif %}
{% endfor %}
